<!DOCTYPE html>
<html>
  <head>

  <style>
  body
  {background-color: white;
    font-size: 18px;
    line-height: 50px;
    font-weight: 600;
    text-align: center;
    Letter-spacing: 1px;
    margin-left: 2px;
    margin-right: 2px;
    font-family: trebuchet, sans-serif;
  }

  h1
  {color: purple;
    font-size:50px;
    line-height: 75px;
    font-weight: 400;
    Letter-spacing: 3px;
    text-align: center;
    margin-top: 50px;
    margin-left: 100px;
    margin-right: 100px;
  }
  h2
  {color: black;
    font-size: 20px;
    line-height: 20px;
    font-weight: 200;
    Letter-spacing: 1px;
    text-align: center;
    margin-top: 10px;
    margin-left: 10px;
    margin-right: 10px;
  }
  h3
  {color: gray;
    font-size: 10px;
    line-height: 20px;
    font-weight: 1px;
    letter-spacing: 2px;
    text-align: center;
    margin-top: 100px;
  }
  h4
  {color: black;
    font-size: 18px;
    line-height: 20px;
    font-weight: 200;
    Letter-spacing: 2px;
    text-align: center;
    margin-top: 10px;
    margin-left: 10px;
    margin-right: 10px;
  }
select-style
.select-style {
    border: 1px solid #ccc;
    width: 50px;
    padding: 5px;
    font-size: 45px;
    line-height: 1px;
    border: 10;
    border-radius: 3px;
    height: 50px;
  }
.select-style select {
    padding: 10px 8px;
    width: 40%;
    border: none;
}

  p    {color: black;}
  p.error {color: red;}
  </style>



<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

<script type="text/javascript" src="https://js.stripe.com/v3/">

console.log(response);


</script>
    <meta charset="utf-8">
    <title>Boba Store</title>
  </head>

  <body>

<h1>Welcome to Boba Babes!</h1>
<h2>We deliver the most delicious boba to your door.</h2>
<br>
<h4>Orders are accepted every Wednesday from 1-2 PM</h4>
<h4>for same day delivery between 230-4 PM.</h4>
<br>
<br>
<h4>Choose your hood:</h4>


<form id="places-form" action="/bobaplaces" method="POST">

<div class="select-style">
<select name="place">
  <option value="mission">Mission</option>
  <option value="soma">SOMA</option>
  <option value="fidi">Financial District</option>
  </select>
</div>

<div class="btn">
     <button id="select-now" type="submit" class="button">
    Show Me Boba
</button>
</div>
</form>


<h3>
Copyright (C) 2017
<br>
Boba Babes is a pop-up boba delivery service in San Francisco.
</h3>


  </body>
</html>
